home.vtl

<form action="/test" method="post">
  <button type="submit">TEST</button>
</form>

<div class="main">
  <p><span id="test">Click Here</span></p>
</div>

<form>
  <button type="submit" id="lap">Get Time</button>
</form>

<ul>
  <span id="lapList">
</ul>
