<h1>$routine.getName()</h1>
</div>
<div id="board">
  <table style="width:100%">
    <tr>
      <th>Task</th>
      <th>Average Time</th>
      <th>Best Time</th>

    </tr>
    #foreach ($task in $routine.getTasks())
      <tr>

        <td>$task.getName()</td>
        <td>$task.getTimeAsString($LapTime.getAverageTime($task.getLapTimes()))</td>
        <td>$task.getTimeAsString($LapTime.getBestTime($task.getLapTimes()))</td>

      </tr>
    #end
  </table>
</div>
